 * {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}
 div {
    background: cyan;
    height: 100px;
    width: 100px;
    border: 3px solid rgb(37, 37, 37);
    /* margin: 20px; */
    display: inline-block;
}
#box1 {
     position: static;/* Default */
}
#box2 {
    position: relative;/*  moves 30px down from the top relative to its mean position */
    top: 20px;
    left: 20px;
}
#box3 {
    position: fixed ;
    top: 10px;
}
body {
    background-image: url(img/bimg1.jpg);
    /* background-size: auto; */
    background-repeat: no-repeat;
}