 * {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: #fff;
} 
.container {
    background: rgb(141, 141, 141);
    display: flex;
    justify-content: space-evenly;
}
ul li {
    list-style: none;
    padding: 10px;
    background: #0e0e0e;
    transition: 0.8s;
    font-size: large;
    display: inline;
}
.container li:hover {
    background: transparent;
}
.container div {
    color: #000;
    text-align: center;
    background: cyan;
    display: inline-block;
    border: 3px solid rgb(255, 255, 255);
    margin: 10px;
}
#box1 {
}
#box2 {
}
#box3 {
    height: 150px;
 
}
body {
    text-align: center;
    z-index: 20;
}